<html>
<head>
    <script src="https://polyfill.webmonetization.org/polyfill.js"></script>
    <script src="https://cdn.coil.com/donate.js"></script> 
    <script>
        window.WebMonetizationScripts.donate({
            paymentPointer: '$bang-for-your-book.localtunnel.me'
        })
    </script>

</head>
<body>
<h1>/textbook route
</body>
</html>
